*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

.head{
    background-image: url("../img/fondo_trading\ 1.png");
    height: 100vh;
    padding: 20px 40px 0px 40px;
}

.indice{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0px 80px 0px 0px;
}

.parte_toro{
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.toro{
    height: 65%;
}

.letra_toro{
    color: white;
    font-size: 20px;
}

.letra_toro2{
    color: aqua;
}

.medio{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    flex: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

.botones{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.boton1{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
}

.boton1:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.boton2{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: aqua;
    border: none;
}

.boton2:hover{
    background-color: transparent;
    border: 1px white solid;
    color: white;
}

.parte_grafica{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    gap: 20px;
}

.texto{
    color: white;
}

.eslogan{
    font-size: 40px;
}

.subeslogan{
    font-size: 18px;
}

.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.texto_grafica{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    color: white;
}

.web{
    color: aqua;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0px 60px 80px 60px;
}

.titulo{
    font-size: 40px;
    font-weight: bold;
}

.cajas{
    display: flex;
    gap: 70px;
}

.caja{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    align-items: center;
}

.imagen_caja{
    width: 60px;
}

.titulo_caja{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.texto_caja{
    text-align: center;
}
